/venv
/env
/__pycache__/
/.vscode
/logs
.env

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django migrations
**/migrations/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/

# MyPy
.mypy_cache/

# PyCharm
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db