# Django Framework
Django==4.2

# Authentication
django-allauth==65.3.0
dj-rest-auth==7.0.0
social-auth-app-django

# Django REST Framework
djangorestframework==3.15.2
djangorestframework-simplejwt

# PostgreSQL with pgvector
psycopg2-binary==2.9.6
pgvector==0.3.6

# Environment Variables
python-dotenv==1.0.1

# CORS Handling
django-cors-headers==4.6.0

# Logging & Monitoring
django-extensions==3.2.3

# AI & OpenAI API Support
openai==1.58.1
numpy>=1.24.2
pydantic>=1.10.7

# Additional Utils
gunicorn==20.1.0
googlemaps==4.10.0
